* {
  text-align: center;
  font-family: sans-serif;
}
.background1 {
  background-image: url(./images/headphones_hero_1.jpg);
  color: white;
  height: 800px;
  width: auto;
  background-size: cover;
  background-position: center;
}
.head {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 700px;
  padding-top: 30px;
  margin-bottom: 300px;
}

.label {
  gap: 20px;
  display: flex;
  align-self: center;
  color: white;
}
.label > a {
  color: white;
  text-decoration: none;
}
.label > a:hover {
  color: #ff6565;
}
header > img {
  width: 170px;
  min-width: 150px;
}
h1 {
  color: white;
  font-size: 37px;
  margin-bottom: -10px;
}
button {
  margin-top: 45px;
  padding: 12px 35px;
  border-radius: 20px;
  background-color: rgb(244, 88, 77);
  color: white;
  box-shadow: 0px 0px 10px rgb(25, 25, 25);
  border: none;
  align-items: center;
  font: 1em sans-serif;
  margin-bottom: 30px;
}
button:hover {
  opacity: 0.9;
}
/* .page1 {
  font-size: 20px;
  line-height: 25px;
} */
.background2 {
  background-color: white;
  margin-top: 100px;
}
.page2 {
  padding-top: 30px;
}
.music {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 100px;
  flex-wrap: wrap;
}
.photo1 {
  width: 70px;
}
.background3 {
  background-image: url(./images/headphones_hero_2.jpg);
  background-size: cover;
  padding-top: 200px;
  color: white;
  height: 600px;
}
.page3 {
  margin-top: 60px;
  line-height: 25px;
}
.photo2 {
  width: 200px;
}
.position {
  position: absolute;
  margin-top: -150px;
  margin-left: 35px;
}
.position > h2 {
  font-size: 30px;
}
.contact {
  padding-top: 80px;
}
.name {
  margin-bottom: 8px;
  font-size: 20px;
  text-align: left;
}

.data input {
  padding: 12px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.533);
  font-size: 15px;
  width: 250px;
}
.data :placeholder-shown {
  font-weight: bold;
  color: black;
}
.background4 {
  background-color: #071629;
  padding-top: 50px;
  padding-bottom: 35px;
}
.page4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 700px;
}
/* .foot {
  width: 200px;
}
.logo {
  align-self: center;
  width: 200px;
  color: white;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.headphones {
  color: rgba(255, 255, 255, 0.537);
  margin-top: 45px;
  font-size: 10px;
}
.background5 {
  height: 500px;
} */
/* Tablet View */
@media (max-width: 1024px) {
  .head {
    flex-direction: row;
    gap: 400px;
    text-align: center;
  }
  .page1 {
    font-size: 1.2em;
    line-height: 1.4;
    padding-top: 20px;
  }
  .page4 {
    gap: 400px;
  }
  .foot {
    width: 250px;
  }
  .music {
    gap: 200px;
  }
  .background3 {
    height: 980px;
  }
}
@media (max-width: 867px) {
  .head {
    flex-direction: row;
    gap: 50px;
    text-align: center;
  }
  .page4 {
    gap: 100px;
  }
}
@media (max-width: 615px) {
  .page4 {
    gap: 100px;
  }

  .background3 {
    height: 2000px;
  }
}
@media (max-width: 480px) {
  .page4 {
    gap: 40px;
  }

  .background1 {
    height: 1200px;
  }
  .head {
    gap: 8px;
  }
}
