@font-face {
    font-family: Source-Sans-Pro;
    src: url(./fonts/SourceSansPro-Light.otf), url(./fonts/SourceSansPro-Bold.otf),
      url(./fonts/SourceSansPro-Regular.otf);
  }
  
  @font-face {
    font-family: Spin-3d;
    src: url(./fonts/spincycle_3d_ot.otf), url(./fonts/spincycle_ot.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Source-Sans-Pro;
  }
  
  header {
    background-image: url(./images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  .container {
    margin: 0px 10vw;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
  }
  
  .logo img {
    width: 200px;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  li {
    list-style: none;
    margin-right: 10px;
  }
  
  li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a:hover {
    color: #ff6565;
    opacity: 0.9;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 12vw;
    text-align: center;
    padding: 20px;
  }
  
  .hero h1 {
    font-weight: bold;
    font-size: 3vw;
  }
  
  .hero h2 {
    font-size: 2vw;
  }
  
  .hero p {
    font-size: 1.5vw;
    margin-top: 6vw;
  }
  
  .hero a {
    color: white;
    text-decoration: none;
    margin: 2vw;
    background-color: #ff6565;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
  }
  
  .hero a:hover {
    opacity: 0.8;
  }
  
  .services {
    background-image: none;
    text-align: center;
  }
  
  section img {
    width: 50px;
  }