.box  > * {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(167, 202, 252); 
 }
  
  .box {
    width: auto;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
  }
  .one {
    flex: 2;
  }
  .two {
    flex: 1;
  }
  .Content {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(167, 202, 252); 
  }
  .Content {
    width: auto;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
  }
  #box_1 { 
    position: static;
    width: 200px;
    height: 200px;
    background: #ee3e64;
  }
  
  #box_2 { 
    position: static;
    width: 200px;
    height: 200px;
    background: #44accf;
  }
  
  #box_3 { 
    position: static;
    width: 200px;
    height: 200px;
    background: #b7d84b;
  }
